* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: rgb(80, 80, 80);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  outline: none;
}

.container {
  max-width: 2200px;
  margin: 0 auto;
}

.header {
  min-height: 100px;
}

.axis {
  margin: 0 auto;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.bar {
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 30px;
  color: white;
  font-size: 12;
  background-color: blueviolet;
}
